go 1.24

use (
	.
	..\nonamevote
	..\mux
	..\restart
)

replace gitee.com/qiulaidongfeng/nonamevote/nonamevote => ..\nonamevote

replace github.com/qiulaidongfeng/mux v0.0.0 => ..\mux

replace github.com/Petelin/restart => ..\restart
